.menu{
  display: flex;
  justify-content: end;
}

.menu--list-group {
  list-style: none;
  display: flex;
  gap: 35px;
}

.menu--list-item{
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
