<div class="container work-experience mt-5">
    <h2 class="work--experience-title text-center">Work Experience</h2>
    <div class="work--experience-exp">
        <h3 class="work--experience-exp-title">Globant</h3>
        <p class="work--experience-exp-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos maiores blanditiis itaque accusantium minima voluptatum eligendi iure, eaque ab placeat, aperiam impedit. Tempore, ipsam maxime quae ratione exercitationem doloremque. Voluptas.</p>
    </div>
    <div class="work--experience-exp">
        <h3 class="work--experience-exp-title">Accenture</h3>
        <p class="work--experience-exp-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos maiores blanditiis itaque accusantium minima voluptatum eligendi iure, eaque ab placeat, aperiam impedit. Tempore, ipsam maxime quae ratione exercitationem doloremque. Voluptas.</p>
    </div>
    <div class="work--experience-exp">
        <h3 class="work--experience-exp-title">Accenture</h3>
        <p class="work--experience-exp-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos maiores blanditiis itaque accusantium minima voluptatum eligendi iure, eaque ab placeat, aperiam impedit. Tempore, ipsam maxime quae ratione exercitationem doloremque. Voluptas.</p>
    </div>
    <div class="work--experience-exp">
        <h3 class="work--experience-exp-title">Accenture</h3>
        <p class="work--experience-exp-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos maiores blanditiis itaque accusantium minima voluptatum eligendi iure, eaque ab placeat, aperiam impedit. Tempore, ipsam maxime quae ratione exercitationem doloremque. Voluptas.</p>
    </div>

</div>