<div class="container about--me">
    <div class="about--me-content">
        <div class="about--me-title">
            <img class="about--me-quad" src="../../../../assets/derecho.png" alt="mid">
            <h2 class="about--be-title-text">About Me</h2>
        </div>
        <p class="about--me-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate unde rerum impedit aut! Dolorem, officia? Repellat consectetur ullam dolor eum sunt odio blanditiis doloribus. Ipsam, eius? Voluptatum nihil fugiat sapiente!</p>
        <button class="about--me-btn-download">Download</button>
    </div>
    <div class="about--me-img">
        <img class="img--profile" src="https://w0.peakpx.com/wallpaper/554/493/HD-wallpaper-escandalosos-pardo-oso.jpg" alt="pardo">
    </div>
</div>